body {
   font-family: "Montserrat", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
}

h1 {
   font-size: 30px;
   font-weight: 700;
}

h2 {
   font-size: 24px;
   font-weight: 700;
}

h3 {
   font-size: 18px;
   font-weight: 700;
}

th {
   font-size: 25px;
   font-weight: 700;
}

a {
   color: #357b70;
}

a:visited {
   /* visited link */
   color: #0254a7;
}

a:hover,
a:focus {
   /* No underlining when hovering over a link */
   text-decoration: none;
}

a:active {
   color: #489c79;
}

button {
   border: none;
   font-family: inherit;
   background-color: #6f5e6f;
   color: white;
   text-decoration: none;
   padding: 10px;
   border-radius: 5px;
   border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
button:hover,
button:focus {
   cursor: pointer;
   opacity: 0.8;
}

.navigation-list__item--active {
   text-decoration: none;
}
